<div align="center">
<input #box (keydown.enter)="onEnter(box.value)"
        type="text" name="video_link"
        align="center">
        
</div>

<div align="left">
<ul class="nav nav-sidebar">
   <li *ngFor="let item of history" (click)=liClicked(this)>
   <button href="#">{{ item }}</button>
      
    </li>
</ul>
</div>
<div 
     align="center">
     

<youtube-player
      [videoId]="id"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      width="700" height="500"
      align="center"
    ></youtube-player>

</div>    
